---
import { Image } from "astro:assets";
import Layout from "../layouts/BlogPost.astro";
import favicon from "../assets/images/favicon.svg"
---

<Layout
    title="Contact Me"
    description="Information about the contact page"
    pubDate={new Date("February 26 2024")}
>
    <div
        style={{
            display: "flex",
            justifyContent: "center",
            alignItems: "center",
        }}
    >
    <Image src={favicon} alt="favicon" width="75" />
        
    </div>
    <form class="wrapper">
        <label for="name">
            <input type="text" name="name" id="name" placeholder="Your name" />
        </label>
        <label for="email">
            <input
                type="email"
                name="email"
                id="email"
                placeholder="Your email"
            />
        </label>
        <label for="content">
            <textarea
                name="content"
                id="content"
                cols="2"
                rows="10"
                placeholder="message"></textarea>
        </label>
    </form>
</Layout>

<style>
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1em;
    }
</style>
