---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
    title="Contact Me"
    description="Information about the contact page"
    pubDate={new Date("February 26 2024")}
>
    <div
        style={{
            display: "flex",
            justifyContent: "center",
            alignItems: "center",
        }}
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 200 200"
            width="200"
            height="200"
        >
            <!-- Define a gradient for vibrant colors -->
            <defs>
                <linearGradient
                    id="gradient"
                    x1="0%"
                    y1="0%"
                    x2="100%"
                    y2="100%"
                >
                    <stop offset="0%" style="stop-color:#551a85;stop-opacity:1">
                    </stop>
                    <stop
                        offset="50%"
                        style="stop-color:#dd9df7;stop-opacity:1"
                    >
                    </stop>
                    <stop
                        offset="100%"
                        style="stop-color:#eed9f7;stop-opacity:1"
                    >
                    </stop>
                </linearGradient>
            </defs>

            <!-- Draw the stylistic "W" -->
            <path
                d="M20 180 L50 20 L80 100 L110 20 L140 180 L110 100 L80 180 L50 100 Z"
                fill="url(#gradient)"
                stroke="transparent"
                stroke-width="0"
                transform="scale(1, -1) translate(0, -200)"></path>
        </svg>
    </div>
    <form class="wrapper">
        <label for="name">
            <input type="text" name="name" id="name" placeholder="Your name" />
        </label>
        <label for="email">
            <input
                type="email"
                name="email"
                id="email"
                placeholder="Your email"
            />
        </label>
        <label for="content">
            <textarea
                name="content"
                id="content"
                cols="2"
                rows="10"
                placeholder="message"></textarea>
        </label>
    </form>
</Layout>

<style>
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1em;
    }
</style>
